* {
	scrollbar-color: gray lightgray;
	scrollbar-width: thin;
}

body,
input,
button {
	font-family: Raleway;
	margin: 0px;
}

button {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: rgb(66, 184, 221);
	border: transparent;
	padding: 0.5em 1em;
	margin: 0 0.5em;
}

.form-input {
	width: 52px;
	margin: 0.2em 0;
	padding: 0.3em 0.6em;
	border: 1px solid #ccc;
	border-radius: 4px;
	vertical-align: middle;
}

#import-input {
	width: 130px;
}

#file-load-input {
	display: none;
}

.blink {
	animation: blink-animation 1s steps(5, start) infinite;
	-webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}
@-webkit-keyframes blink-animation {
	to {
		visibility: hidden;
	}
}

.caneva-container-centering {
	user-select: none;
	text-align: center;
	margin: 10px;
}

.caneva-container-centering:empty {
	margin: 0;
}

.caneva-container-flex {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.col {
	display: flex;
	flex-direction: column;
	width: 16px;
	margin-bottom: 15px;
	margin-left: 0.5px;
}

.bead {
	width: 16px;
	height: 16px;
	border: 1px solid black;
	margin-top: -1px;
}

.color-bead {
	background-color: white;
}

.bead-no-border {
	border: 1px solid white;
	z-index: -1;
}

.action-bead {
	border: 1px solid rgba(0, 0, 0, 0);
	cursor: default;
}

.action-bead:hover {
	color: red;
	font-weight: bold;
}

.insert-bead {
	font-size: 24px;
}

.insert-col {
	margin-top: 17px;
}

.delete-col {
	margin-top: 30px;
}

.top-delete-bead {
	height: 19px;
	line-height: 8px;
}

.top-insert-bead {
	height: 12px;
	line-height: 6px;
	margin-left: -8px;
}

.bead-peyote:nth-child(even) {
	margin-left: 8px;
}

.bead-peyote:nth-child(even)::before {
	content: '';
	position: relative;
	left: 8px;
	height: 16px;
	display: block;
	width: 8px;
}

.col:nth-child(2n) .bead-peyote-v:nth-child(100n + 3) {
	margin-top: 8px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.flex-evenly-centered {
	display: flex;
	justify-content: space-evenly;
}

input[type='radio'] {
	vertical-align: middle;
}

#dev-info {
	position: fixed;
	height: 20px;
	top: 0px;
	background-color: white;
	margin: 0;
	z-index: 2;
	text-align: center;
	width: 100%;
	font-size: 14px;
	background-color: #f6f6f6;

}

#dev-info p:nth-child(1) { --delay-animation: 0s }
#dev-info p:nth-child(2) { --delay-animation: 8s }
#dev-info p:nth-child(3) { --delay-animation: 16s }

#dev-info p {
	margin: 0;
	text-align: center;
	width: 100%;
	position: absolute;
	top: -20px;
	animation: stretch 24s infinite var(--delay-animation);
}

@keyframes stretch {
	0%{
    transform: translateY(0);
  }
  33%{
    transform: translateY(20px);
  }
  66% {
    transform: translateY(40px);
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
	
}
  

/* menu bar */
#menu-bar {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(100vw - 20px);
	height: 30px;
	top: 20px;
	background-color: #f6f6f6;
	padding: 0 10px 3px 10px;
	z-index: 2;
}

.menu-item {
	display: inline-block;
	vertical-align: middle;
	cursor: default;
	position: relative;
}

img {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

@media screen and (max-width: 2500px) {
	.menu-label {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		display: inline-block;
		font-size: 14px;
		width: auto;
		vertical-align: middle;
	}

	.menu-label-h {
		height: 0;
		position: absolute;
		top: 40px;
		left: 10px;
	}

	.menu-item:hover .menu-label-h {
		height: auto;
		padding: 3px 8px;
		background-color: #eee;
		border-radius: 5px;

	}

	.menu-label-v {
		max-height: 0px;
		transition: ease-in-out all 0.5s;
	}

	.menu-item:hover .menu-label-v {
		max-height: 130px;
		background-color: #00000022;
	}
}

.menu-label-v {
	position: absolute;
	right: -5px;
	display: block;
	border-radius: 5px;
	background-color: #fff;
}

.flag-list-item {
	display: block;
	margin: 5px;
}

#trame-container {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 60px);
	overflow: auto;
}

.trame-container-work {
	margin: 60px 120px 0px 5px;
}

.trame-container-focused {
	margin: 60px 5px 15px 5px;
}

#input-color {
	float: right;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	height: calc(100vh - 60px);
	width: 115px;
}

#input-color label {
	display: inline-block;
	width: 30px;
	text-align: right;
}

#input-color span input {
	margin-left: 5px;
	margin-right: 5px;
}

[hidden] {
	display: none !important;
}

.pattern-actions {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
