#bead-collection {
  width: calc(100vw - 290px - 40px);
  height: 200px;
  padding: 10px;
  position: absolute;
  left: 30px;
  bottom: 30px;
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 200px auto;
  gap: 10px
}

#bead-filters {
  background-color: #ffffff;
  overflow-y: auto;
  scrollbar-color:  gray lightgray;
  scrollbar-width: thin;
}

#bead-filters h1 {
  margin: 10px;
  font-size: 24px;
  border-bottom: 1px solid lightgray;
}

#bead-filters input{
  margin: 2px 10px;
  vertical-align: top;
}

#bead-filters label{
  display: inline-block;
  width: 80%;
}

@media (max-width: 900px) {
  #bead-filters label{
    width: 70%;
  }
}

#bead-thumbnails {
  background-color: #ffffff;
}

#thumbnails {
  overflow-y: scroll;
  scrollbar-color:  gray lightgray;
  scrollbar-width: thin;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width: 1180px) {
  #thumbnails {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1110px) {
  #thumbnails {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1040px) {
  #thumbnails {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 970px) {
  #thumbnails {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  #thumbnails {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 830px) {
  #thumbnails {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 760px) {
  #thumbnails {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#thumbnails div {
  margin: 0 2px
}

#thumbnails label {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  height: 20px;
}

#thumbnails img {
  width: 100%;
  height: auto;
}

.filters-no-filter {
  margin: 0px;
}

.thumbnails-no-filter {
  height: 200px;
}

.filters-filter {
  margin: 10px;
}

.thumbnails-filter {
  height: 160px;
}

#my-filters span {
  background: #f5f5f5;
  border-radius: 25px;
  padding: 0 5px;
  margin: 0 3px;
}

.big {
  grid-column-end: span 2;
  grid-row-end: span 2;
}