<script src="components/bead-collection/index.js"></script>
<link rel="stylesheet" type="text/css" href="components/bead-collection/index.css" />

<div id="bead-collection">
	<img
		id="color-picker-higher"
		src="public/icons/chevron-up.svg"
		onclick="colorPicker.beadPanel.handlePanelHeightChange()"
	/>
	<div id="bead-filters"></div>
	<div id="bead-thumbnails">
		<div id="selected-filters" class="filters-no-filter"></div>
		<div id="thumbnails" class="thumbnails-no-filter"></div>
	</div>
</div>
